html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------
HEADER STYLING
--------------------------------------------------- */
*{transition:all .5s ease-in-out;}

header{  
	margin: 20px 10px 0 30px;
	padding-bottom: 20px;
}

/* navigation styling */
nav ul {
 
  color: #ffffff;
  display: flex;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
nav ul li {
  margin-right: 4rem;
  padding: 0.6rem 0.6rem 0rem 0.6rem;
}
nav ul li a{
  color:#ffffff ;
  text-decoration: none;
}
nav ul li:hover{
  color: #ff563c;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 1rem;
  cursor: pointer;
}
nav ul li:not(:first-child) {
  margin-top: 1rem;
}
/* search logo */
svg {
  cursor: pointer;
  float: right;
  color: #837dff;
  margin-top: -38px;
  margin-right: 56px;
}

/* ---------------------------------------------------
CONTENT STYLING
--------------------------------------------------- */
html{
	scroll-behavior: smooth;
}
body {
  font-family: 'poppins','Open Sans','Dosis';
	background-color: #060606;
	letter-spacing: 2px;
}
/* Headings and text*/

h1 {
  font-size: 4.5rem;
  color: white;
  font-family: "Dosis", sans-serif;
}
h2 {
  font-size: 2.5rem;
  color: white;
  font-family: "Dosis", sans-serif;
}

h3 {
  font-size: 1.5rem;
  color: white;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}
h4 {  
  font-size: 1.1rem;
  color: white;
  font-weight: 900;
  font-family: poppins;
}
h5 {
  font-size: 1rem;
  color: #bbb8b8;;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
h6 {
  color: white;
  font-weight: 200;
  font-family: poppins;
}
p {
  font-size: .9rem;
  color: #bbb8b8;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
}

/* Common secton background design */
section {

  padding:1rem 4rem 2rem 4rem;
  background-color: #222222;
  border-radius: 2rem;
  margin: 1rem;
}

#grid-container{ 
	display: grid;
	width: 100%;
	grid-template-columns: 50% 40%;
	grid-gap: 100px;
  padding-bottom: 3rem;
}

#grid-container > div {
  padding:3rem;
}
#grid-container h1{
padding-bottom: 1rem;
border-bottom: 2px solid rgb(104, 103, 103);
width: 90%;
}
#grid-container h1 div{
  content: '';
  height: 78px;
  width: 239px;
  border: 4px solid #625be7;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

#grid2 p{
	padding-bottom: 20px;
	line-height: 1.5em;
}

#grid2{
	text-align: left;
}
#grid2 h4,h6{
  text-align: center;
 padding-top:1rem ;
}
#grid2 a img{
  margin-left: 200px;
  padding-top:8rem ;
  cursor: pointer;
}

#skills-container{ /*Created a grid*/
	display: grid;
	width: 100%;
	grid-template-columns: 50% 50%;
	grid-gap: 10px;
  margin-top: 3rem;
}
#skills-container img{
  padding: 0rem 1rem 1rem 0rem;
}
#skills-container h4{
  height: 25px;
}
#skills-container h4 span{
  color: #837dff;
}
#skills-container h5{
margin: 1rem 0rem 1rem 0rem;
height: 130px;
}
#skills-container #skillset1 a{

  padding:1.2rem;
  color: white;
  background-color: #000;
  /* border: 1px solid #575757; */
  font-family: "Dosis", sans-serif;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 9.5rem;

}
#skills-container #skillset2 a{

  padding: 1.2rem;
  color: rgb(31, 31, 31);
  font-weight: 800;
  background-color: #fc4225c5;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: "Dosis", sans-serif;

}

/* Image grid Section */
#imagegrid{
  display: grid;
  grid-template-columns: 40% 55%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
#imagegrid div{
  margin-left: 1.5rem;
}
#imagegrid div h2{
  padding: 2rem 0 2rem 4rem;
}
#imagegrid div p{
  padding-left: 4rem;
}
#imagegrid div div img{
  margin:0 1rem 1rem 0;
}
#imagegrid div p span{
  font-size: 1.2rem;
  font-weight: 600;
  color: #6763B0;
  font-variant: small-caps;
}

/* work section */

#career {
  margin:3rem;
}
#career div {
display: flex;
margin-top: 5rem;
}

#career div img {
  padding-right: 2rem;
}
#career div p {
  padding: 0 2rem 2rem 4rem;
  margin-left: 4rem;
}
#career div p span{
  font-size: 1.2rem;
  font-weight: 600;
  color: #6763B0;
  font-variant: small-caps;
  
} 
/* skillgrid */

#skillgrid{
  display: grid;
  grid-template-columns: 39% 55%;
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-image: url("./images/parellax2.jpg");
  min-height: 350px;
  grid-gap: 2rem;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#skillgrid h2{
 margin-top: 170px;
 text-decoration: underline;
 font-weight: 900;

}
#skillgrid div h2{
  margin-top: 190px;
  text-decoration: underline;
}

#skills {
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  text-align: center;
  margin: 3rem 0rem 3rem 4rem;
  display: grid;
  max-width: 100%;
}

#skills h3 {
  padding: 2rem;
  margin: .5rem;
  background: #0606069c;
  border-radius: .5rem;
  color: #b6b6b6;
  font-variant: small-caps;
  font-size: 1.1rem;
  font-weight: 700;
}



footer {
  min-height: 320px;
  background-color: #060606;
  color: white;
}
footer h4{
  text-align: center;
  padding-top: 50px;
}
footer p{
  text-align: center;
  padding-top: 60px;
}
footer p span{
  color:#625be7;
}

/* social Icons */
#social{
  margin-top: 20px;
	float: right;
	margin-right: 20px;
	opacity: 0.8;
}
footer ul{
  display: inline-block;
  height: 10px;
}

footer li{
  display: inline-block;
}

#social img:hover{
	opacity: 0.5;
}

#social img{
	padding-right: 20px;
}
