html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
article,
aside,
canvas,
details,
embed,
dl,
dt,
dd,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
figcaption,
footer,
header,
hgroup,
fieldset,
form,
label,
legend,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    margin: 0 auto;
}

ol,
ul {
    list-style: none;
}


/*==================*/


/*CSS styling */

:root {
    --primary-color: #2d593c;
    --secondory-color: #4a8c61;
    --heading-color: #3d4032;
    --muted-color: #828c72;
    --faded-color: #a0ab8d;
    --bg-color: #eef2e9;
}


/*Styling the body*/

body {
    background-color: #E3E8FF;
    background-attachment: scroll;
    background-size: contain;
    padding-top: 5rem;
    background-image: url(./logos/background-graphics-2.svg);
    background-repeat: no-repeat;
}


/* header navigation bar */

nav ul {
    width: 100%;
    margin-top: -81px;
    margin-left: 3em;
    padding: 1rem;
    color: var(--bg-color);
    display: flex;
    font-size: 1.5rem;
}

nav ul li:first-child {
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
}

nav ul li:nth-child(2) {
    color: white;
    margin-top: 13px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
}

nav ul li:last-child {
    margin-top: 10px;
    margin-right: 2rem;
    cursor: pointer;
}


/*main section and common elements design*/


/* animation for rotating background */

@keyframes zoom {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Headings */

h1 {
    font-size: 3em;
    font-weight: 600;
    padding: 2rem;
    border-radius: 8px;
    font-weight: 900;
    letter-spacing: -2px;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 2.5em;
    color: var(--font-color);
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    margin-left: 1em;
    margin-bottom: 1em;
    letter-spacing: -1px;
}

h3 {
    font-size: 1.7rem;
    color: rgb(12, 12, 12);
    padding: 1rem;
    margin: 0 1rem 0.5rem 1rem;
    letter-spacing: -1px;
    font-family: 'Inter', sans-serif;
}

h4 {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    color: rgb(12, 12, 12);
    line-height: 1.6rem;
    padding: 2rem;
    background: #5f79340a;
    margin-top: 1.5rem;
    border-radius: 13px;
}

p {
    font-family: 'Inter', sans-serif;
    padding: 2rem;
    font-size: 1.2em;
}

a {
    font-family: 'Inter', sans-serif;
    padding: 2rem;
    font-size: 1.2em;
    padding: 1em;
    border: 1px solid white;
}

h4 span {
    font-size: 2.5rem;
    color: var(--font-color);
}

h5 {
    font-size: 13;
}


/* title layout */

main .title-layout {
    display: flex;
    margin: 4em;
}

main .title-layout article:first-child {
    border-radius: 3rem;
    background-color: #004769;
    padding: 2em;
    min-width: 500px;
    margin-right: 2em;
}

main .title-layout article:last-child {
    background-color: #C04B2D;
    border-radius: 3rem;
    padding: 2em;
}

main .title-layout article h1,
h4,
p {
    color: #fff;
}

.courses {
    width: 100vh;
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
    transform: rotate(-90deg) translate3d(0, -100vh, 0);
    margin-bottom: -55em;
}

.courses>* {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(90deg) translate3d(0, calc(-100vh + 60px), 0);
    transform: rotate(90deg) translate3d(0, calc(-100vh + 60px), 0);
}

.courses div {
    width: 450px;
    height: 450px;
    position: relative;
}

.courses div:not(:first-child) {
    margin-top: 30px;
}

.courses div {
    margin: 1em;
    border-radius: 3rem;
    padding: 2rem;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.200);
    background-color: #ffffff;
}

.courses div ul {
    padding: 1rem 2rem;
    list-style-type: square;
    margin: 0rem 1rem 1rem 1rem;
    border-radius: 1rem;
    font-family: 'inter', sans-serif;
}

.courses div ul li {
    padding: 0.2rem;
    font-size: 1.3rem;
}

.courses div ul li a {
    text-decoration: none;
    color: #391388;
    font-size: 1.1rem;
    font-family: 'inter', sans-serif;
}

.courses div ul li ul {
    list-style-type: circle;
    background: none;
}

.courses div ul li ul a {
    text-decoration: none;
    padding: 0.2rem;
    color: #391388;
    font-size: 1.2rem;
}

.courses div ul li ul a :visited {
    color: #8352FD;
}

.courses div ul li ul a:hover {
    color: #8352FD;
}

.courses div ul li ul a:active {}


/* footer of webpage */

footer {
    font-family: 'Roboto', sans-serif;
    margin-top: 5rem;
    font-size: 16px;
    color: var(--bg-color);
    text-align: center;
    padding: 7em 1em 1em 1em;
    height: 9rem;
    background-color: black;
}

footer h4 {
    color: var(--muted-color);
    margin-top: 2rem;
}

@media only screen and (min-width: 200px) {
    .main-section {
        height: 190px;
    }
}

@media only screen and (min-width: 400px) {
    .main-section {
        height: 290px;
    }
}

@media only screen and (min-width: 700px) {
    .main-section {
        height: 450px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-section {
        height: 720px;
    }
}